@model SistemaEmpleados.Models.Empleado
@using System.Globalization

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>

        <dt class="col-sm-2">
            Tiempo en la empresa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TiempoEnEmpresa)
        </dd>

        <dt class="col-sm-2">
            AFP
        </dt>
        <dd class="col-sm-10">
            @Model.AFP.ToString("C", CultureInfo.CreateSpecificCulture("es-DO"))
        </dd>

        <dt class="col-sm-2">
            ARS
        </dt>
        <dd class="col-sm-10">
            @Model.ARS.ToString("C", CultureInfo.CreateSpecificCulture("es-DO"))
        </dd>

        <dt class="col-sm-2">
            ISR
        </dt>
        <dd class="col-sm-10">
            @Model.ISR.ToString("C", CultureInfo.CreateSpecificCulture("es-DO"))
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpleadoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>