@model SistemaEmpleados.Models.VacacionesDisponible

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Vacaciones disponibles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasAsignados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasAsignados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasTomados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasTomados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasRestantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasRestantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VacacionesId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
