@model SistemaEmpleados.Models.VacacionesDisponible

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Vacaciones disponible</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasAsignados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasAsignados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasTomados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasTomados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasRestantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasRestantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VacacionesId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>

          