@model IEnumerable<SistemaEmpleados.Models.VacacionesDisponible>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasAsignados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasTomados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasRestantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasAsignados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasTomados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasRestantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.EmpleadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacacionesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VacacionesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VacacionesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
